@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-hellishText;
  }
}

* {
  margin: 0;
}

:root {
  --link-gap: 1.5rem;
}

.shine-hover {
  position: relative;
  overflow: hidden;
}

.shine-hover {
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid #2a2a2a;
  box-shadow: 0 0 15px #2a2a2a;
  transition: backdrop-filter 0.3s ease;
  width: 524px;
  height: 64px;
}

.shine-hover::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -75px;
  width: 50px;
  height: 155px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  opacity: 0.2;
  transform: rotate(35deg);
  z-index: 1;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.shine-hover:hover::after {
  left: 120%;
}
